@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/* colors & styling */
:root {
  --textColor: hsl(240, 4%, 36%);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --greyText: rgb(190, 190, 190);
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}
.btn {
  padding: 6rem 1.5 rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a {
  color: black;
  font-weight: 500;
}

.btn :hover {
  background-color: beige;
}

img {
  width: 100%;
  height: auto;
}
input {
  font-size: 100%;
}
body {
  background-color: var(--bodyColor);
}

/**/
/* @media screen and (min-width: 1240) { */
/**/
/*     .container{ */
/*         width:80% !important; */
/*         margin: auto !important; */
/**/
/*     } */
/**/
/*     .section{ */
/*         padding: 6rem 0 4rem; */
/*     } */
/*      */
/* } */
/**/
/* @media screen and (min-width:2560PX) { */
/*     body{ */
/*         zoom: 1.7; */
/*     } */
/*      */
/* } */
/**/
/**/
