:root {
  --textColor: hsl(240, 4%, 36%);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --greyText: rgb(190, 190, 190);
}

.Accueil {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(30, 30, 96);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
  }
  .AccueilContent {
    width: 100%;
    height: max-content;
    padding: 8rem 5rem 30rem;
    display: flex;
    row-gap: 0rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    color: white;
    z-index: 100;

    .textDiv {
      padding: 2rem 0;
      font-weight: bold;

      .smallText {
        font-size: 35px;
        text-transform: uppercase;
      }
      .AccueilTitle {
        position: relative;
        font-size: 5rem;
        text-transform: uppercase;
      }
    }

    .AccueilTitleD {
      position: relative;
      font-size: 25px;
      font-weight: 500;
      padding-bottom: 20px;

      span {
        color: rgb(65, 143, 232);
      }
    }

    .cardDiv {
      position: relative;
      padding: 3rem 1rem;
      background: white;
      border-radius: 10px;
      gap: 1rem;
      padding-top: 20px;

      label {
        display: block;
        color: var(--textColor);
        padding-bottom: 10px;
        font-size: 13px;
        font-weight: 500;
      }

      .labelTotal {
        justify-content: space-between;
        align-items: center;

        .total {
          color: var(--textColor);
          padding-bottom: 10px;
          font-size: 18px;
        }
      }
      .input {
        height: 40px;
        padding: 0 1rem;
        background: var(--inputColor);
        border-radius: 3rem;

        input {
          background: none;
          border: none;
          outline: none;
          width: 100%;
          font-size: 13px;
          font-weight: 500;
        }
      }
      .AllMonths {
        position: absolute;
        background: rgb(30, 30, 96);
        width: max-content;
        bottom: -0.7rem;
        column-gap: 0.8rem;
        padding: 5px 1rem;
        border-radius: 3rem;
        left: 50%;
        display: flex;
        align-items: center;
        transform: translate(-50%);
        justify-content: center;
        cursor: pointer;

        &:hover {
          background: rgb(40, 40, 106);
        }
        .icon {
          font-size: 18px;
        }
        span {
          padding-left: 5px;
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .Accueil {
    .AccueilContent {
      .textDiv {
        .smallText {
          font-size: 16px;
        }
        .AccueilTitle {
          font-size: 2.3rem;
          width: max-content;

          span {
            position: relative;
            &::after {
              position: absolute;
              content: "";
              background: rgb(65, 143, 232);
              height: 5px;
              width: 100%;
              right: 0px;
              bottom: 2px;
              z-index: -1;
              border-radius: 10px;
            }
          }
        }
      }

      .AccueilTitleD {
        font-size: 2.3rem;
        width: max-content;

        span {
          position: relative;

          &::after {
            position: absolute;
            content: "";
            background: rgb(65, 143, 232);
            height: 5px;
            width: 100%;
            right: 0px;
            bottom: -2px;
            z-index: -1;
            border-radius: 10px;
          }
        }
      }

      .cardDiv {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .Accueil {
    .AccueilContent {
      .cardDiv {
        padding: 2rem 1rem;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 940px) {
  .Accueil {
    height: 100vh;
  }
}

@media screen and (min-width: 1240px) {
  .Accueil {
    height: 130vh;

    .AccueilContent {
      .cardDiv {
        padding: 2rem 1rem;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;

        .AllMonths {
          bottom: -1rem;
          padding: 8px 1rem;

          span {
            font-size: 17px;
          }
        }
      }
    }
  }
}
